---
---

@import "{{ site.theme }}";

#no-downloads {
  position: relative;
}

#no-downloads ul {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#no-downloads li {
  padding-left: 10px;
  background: transparent url(../images/chevron.png) left 3px no-repeat;
}

#no-downloads a {
    font: bold italic 16px / 1 Georgia, Times, “Times New Roman”, serif;
    color: #83b7da;
    display: block;
}
