---
---

@import "{{ site.theme }}";

#no-downloads {
  position: relative;
}

#no-downloads ul {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#no-downloads em {
    font: bold italic 12px / 1 Georgia, Times, “Times New Roman”, serif;
    color: #83b7da;
    display: block;
}
