---
---

@import "{{ site.theme }}";

header h1 a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ece4d8;
}

header h1 a:hover {
    color: #ece4d8;
    text-decoration: none;
}

#no-downloads ul {
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#no-downloads li {
  padding-left: 10px;
  background: transparent url(../images/chevron.png) left 5px no-repeat;
}

#no-downloads a {
    font: bold italic 20px / 1 Georgia, Times, "Times New Roman", serif;
    color: #83b7da;
    display: block;
}

#no-downloads a:hover {
    color: #ece4d8;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
}

.header-level-1 {
  font: bold italic 1.85em/1.2 Georgia, Times, "Times New Roman", serif;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  margin: 0 0 .38em;
  padding-bottom: 10px
}

body {
  font-family: "Open Sans", sans-serif;
}

.navigation {
    display: none;
}

#main_content img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#main_content a:hover {
  color: #7c334f;
  text-decoration: none;
}

footer {
    background: transparent url(../images/footer-ramp.jpg) center -1px no-repeat;
    padding-top: 104px;
    margin: 0 auto 2px;
    max-width: 560px;
    text-align: center;
}

footer span.ribbon-inner a {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    text-transform: none;
    color: #e69b95;
    display: inline;
}

footer span.ribbon-inner a:hover {
  color: #ece4d8;
  text-decoration: none;
}

footer span.left-tail, footer span.right-tail {
    position: absolute;
    display: block;
    width: 18px;
    height: 29px;
    background: transparent url(../images/small-ribbon-tail-sprite.png) 0 0 no-repeat;
    bottom: 5px;
    z-index: 0;
}

footer span.left-tail {
    background-position: 0 0;
    left: -11px;
}

footer span.right-tail {
    background-position: -18px 0;
    right: -11px;
}

